<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ asset('/favicon.ico') }}">
        <title>{% block title %}Relaxst.com | Cool Staff Here{% endblock %}</title>
        {% block stylesheets %}
            <!-- Animate.css -->
            
	<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{{ asset('css/simple-line-icons.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
	<!-- Style -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<!-- FOR IE9 below -->
        <link rel="stylesheet" href="{{ asset('fa/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/newcss.css') }}">
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block body %} {% endblock %}
        
    <div id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">About Us</h3>
                    <p>Relaxst.com is a subscription based e-marketing network, that is dedicated to connecting its subscribers to news and ecommerce opportunities from all over the globe.</p>
                </div>
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">Our Address</h3>
                    <ul class="contact-info">
                        <li><i class="icon-map-marker"></i>Mediaff Ltd, Kemp House, 160 City Road, London, EC1V 2NX, United Kingdom</li>
                        <li><i class="icon-envelope"></i><a href="{{ path('index') }}">support@mediaff.com</a></li>
                        <li><i class="icon-globe2"></i><a href="http://mediaff.com">www.mediaff.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4 to-animate">
                    <h3 class="section-title">Drop us a line</h3>
                    <form class="contact-form">
                        {{ form_start(form2, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-group">
                                {{ form_label(form2.name) }}
                                {{ form_widget(form2.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form2.emailaddress) }}
                                {{ form_widget(form2.emailaddress) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form2.subject) }}
                                {{ form_widget(form2.subject) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form2.message) }}
                                {{ form_widget(form2.message) }}
                            </div>
                            {{ form_row(form2.submit, { 'label': 'SEND US A MESSAGE' }) }}
                        {{ form_end(form2) }}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="fh5co-map"></div>
        
        {% block javascripts %}
        <!-- Modernizr JS -->
	<script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
        <!-- jQuery -->
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
	<!-- Owl Carousel -->
	<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
	<!-- Counters -->
	<script src="{{ asset('js/jquery.countTo.js') }}"></script>
	<!-- Google Map -->
	<script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBGcjbJ9J1XsKr5RCX7iowrc4H45Ehujqc&callback=initMap') }}"></script>
	<script src="{{ asset('js/google_map.js') }}"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/errorwindow.js') }}"></script>
        {% endblock %}
    </body>
</html>
