{% extends "base.html.twig" %}

{% block body %}
    <header role="banner" id="fh5co-header">
        <div class="fluid-container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="{{ path('index') }}" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="{{ path('index') }}">Twist</a> 
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="external" href="{{ path('index') }}#fh5co-home" data-nav-section="home"><span>Home</span></a></li>
                        <li><a class="external" href="{{ path('index') }}#fh5co-services" data-nav-section="services"><span>Services</span></a></li>
                        <li><a class="external" href="{{ path('index') }}#fh5co-explore" data-nav-section="explore"><span>Project</span></a></li>
                        <li><a class="external" href="{{ path('index') }}#fh5co-testimony" data-nav-section="testimony"><span>Testimony</span></a></li>
                        <li><a class="external" href="{{ path('terms') }}" data-nav-section="fh5co-home"><span>Terms of Use</span></a></li>
                        <li class="active"><a class="external" href="{{ path('privacy') }}" data-nav-section="fh5co-home"><span>Privacy Policy</span></a></li>
                        <li><a class="external" href="{{ path('index') }}#fh5co-faq" data-nav-section="faq"><span>FAQ</span></a></li>
                        <li><a class="external" href="{{ path('unsubscribe') }}"><span>Unsubscribe</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section id="fh5co-home" class="imageonet" data-section="home" data-stellar-background-ratio="0.5" style="height: 30em">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Join the world of intertainment main</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_terms">
                        <h2>Terms &amp Conditions</h2>
                            <div class="terms-just">
                                <h3 class="header-terms">General Terms and Conditions</h3>
                                <p>
                                    1.1 Relaxst.com is a permission based marketing network which enables registered users to 
                                    gain access to advertising materials via email and sms messaging.
                                    All content on Relaxst.com website, including the logo, articles, other text and graphics 
                                    are the intellectual property of Relaxst.com and protected trademark, trade dress,                   
                                    patent, copyright and other laws. You may not reverse engineer, decompile, or disassemble any 
                                    of website parts except and only to the extent that such activity is expressly 
                                    permitted by applicable law notwithstanding this limitation.
                                </p>
                                <h4>Legal Age Requirement</h4>
                                <p>    
                                    1.2 Any registered user must be 18 or older and legally able to be bound by a contract as a 
                                    condition to receiving the ability to become member of Relaxst.com network.
                                </p>
                                <p>
                                    1.3 By clicking the "I accept these terms and conditions" check-box on the registration 
                                    page you accept these Terms and Conditions as well as Relaxst.com <a href="http://relaxst.com/privacy">Privacy Policy</a>.
                                </p>
                                <h4>Policy Update</h4>
                                <p> 
                                    1.4 We may modify Terms and Conditions of this Agreement. Any modification will not in any way
                                    compromise the privacy of your confidential information, gathered during process of registration and 
                                    stored within Relaxst.com facilities. We will notify you of any material changes to this agreement by 
                                    posting a notice on this web site and in the application for a reasonable period of time after such changes 
                                    are made, that this agreement has been updated, and by changing the "Updated" date at the bottom of this agreement.
                                <p>
                                    1.5 Your registration at Relaxst.com and further usage of any tools and/or services provided subsequent to a change or 
                                    modification of this Agreement is your express indication that you agree to be bound by any change or modification in this Agreement.
                                    You must provide correct and complete personal and/or business information as requested by us in the registration process.
                                </p>
                                </p>

                                <p>

                                <h3 class="header-terms">General Rules and Guidelines</h3>
                                <p>
                                   2.1 Relaxst.com email and sms marketing service has been developed for the sole purpose of:
                                    <ul>
                                        <li><p>Enabling potential manufacturers/distributors of products/services to communicate with Relaxst.com email subscribers 
                                             that have opted-in (i.e. expressly given their permission) to receive email communication and sms communications from Relaxst.com.</p></li>
                                        <li><p>Enabling subscribers/registered users/those given their consent to Relaxst.com to get access to products/services 
                                             advertised through email messages.</p></li>
                                    </ul>
                                </p>
                                <h4>CAN-SPAM Act Compliance</h4> 
                                <p>
                                   2.2 <b> Relaxst.com operates in compliance with CAN-SPAM Act </b> and will not use its product or service 
                                   for the purpose of sending unsolicited email, or "SPAM".
                                   <br>
                                   Relaxst.com follows any posted guidelines regarding content and commercial activity limitations. 
                                   All email addresses that are used are solely derived from permission based list.
                                   </br>
                                </p>

                                <p>
                                    All e-mail messages must comply with the following (unless in the case of Force Majeure):
                                    <ul>
                                        <li><p>Are originated from a valid from address (this insures Relaxst.com company name, address, city, state, zip code and phone number are clearly included.</p></li>
                                        <li><p>Each user has double ability to unsubscribe:</p>
                                            <ul>
                                                <li><p>Via a link in each email communication received from Relaxst.com.</p></li>
                                                <li><p>Via an unsubscribe button on Relaxst.com website.</p></li>
                                            </ul>
                                        </li>
                                        <li><p>Each unsubscribe requests is being handled within 10 business days.</p></li>
                                        <li><p>Unsubscribed user/e-mail address will not receive any further marketing emails from Relaxst.com.</p></li>
                                        <li><p>Relaxst.com maintains a record of all unsubscribe requests, including the day/time the unsubscribe request was received and processed.</p></li>
                                  </ul>
                                <br>
                                <p>
                                   All e-mail messages must comply with all relevant federal and state laws and all content
                                   must not violate any federal, state law, code, or regulation, whether criminal or civil in nature.
                                </p>

                                </p>

                                <h3 class="header-terms">Special Email Provisions</h3>
                                <p> 3.1 Adding New Members: Relaxst.com will use a "single opt-in" or "double opt-in" (signup plus confirmation)
                                subscription method for all new list members. For the purpose of this Agreement, a "double opt-in"
                                method shall mean that when new member is added to subscription list, that email address shall
                                not be activated unless and until the new member receives a single confirmation e-mail from Relaxst.com
                                requesting the member consent to be added to the list, and Relaxst.com receives from the new member a
                                confirmation action (such as a confirming e-mail from the new member email address) approving such
                                action.</p>

                                <p>

                                <h3 class="header-terms">Regarding Functionality</h3>
                                <p>4.1 All content, tools, functions and services provided via Relaxst.com are provided on an "as is" basis and Relaxst.com
                                disclaim any and all warranties, express or implied, including those warranties of merchantability,
                                fitness for a particular purpose, title and non-infringement. Such disclaimers may be limited by the
                                laws of subscriber's country/state, and if so limited, may not apply to or partially apply. No warranties of validity regarding any of
                                the content provided by Relaxst.com are made.</p>

                                <h3 class="header-terms">Force Majeure</h3>
                                <p>5.1 Relaxst.com shall not be held liable for any delay or failure in performance due to Force Majeure, which shall
                                mean acts of God, earthquake, labor disputes, changes in law, regulation or government policy, riots,
                                war, fire, flood, insurrection, sabotage, embargo, epidemics, acts or omissions of vendors or suppliers,
                                transportation difficulties, unavailability of interruption or delay in telecommunications or third
                                party services (including DNS propagation), failure of third party software or hardware or inability to
                                obtain raw materials, supplies, or power used in or equipment needed or other occurrences which are
                                beyond either party's reasonable control.</p>

                                <h3 class="header-terms">Disclaimer</h3>
                                <p>6.1 To the extent permitted by law, neither Relaxst.com nor any of our officers, directors, employees, representatives, subsidiaries, 
                                   affiliated companies, distributors, affiliate (distribution) partners, licensees, agents or others involved in creating, sponsoring, 
                                   promoting, or otherwise making available the site and its contents shall be liable for:</p>
                                   <ul>
                                        <li><p>Any punitive, special, indirect or consequential loss or damages, any loss of production, loss of profit, 
                                            loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss of claim.</p></li>
                                        <li><p>Any inaccuracy relating to the (descriptive) information (including prices, availability and ratings) of 
                                            products as made available in Relaxst.com commercial email massages.</p></li>
                                        <li><p>The services rendered or the products offered by the product manufactures/distributor or other business partners </li> 
                                        <li><p>Any (direct, indirect, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, pursuant to, 
                                            arising out of or in connection with the use, inability to use or delay of our website.</p></li>
                                        <li><p>Any (personal) injury, death, property damage, or other (direct, indirect, special, consequential or punitive) damages, 
                                            losses or costs suffered, incurred or paid by you, whether due to (legal) acts, errors, breaches, (gross) negligence, 
                                            willful misconduct, omissions, non-performance, misrepresentations, tort or strict liability by or (wholly or partly) 
                                            attributable to the product/service advertised or any of our other business partners (including any of their employees, 
                                            directors, officers, agents, representatives or affiliated companies) whose products or service are (directly or indirectly) 
                                            made available, offered or promoted on or through the website, including any (partial) cancellation, strike, force majeure or 
                                            any other event beyond our control.</p></li>
                                   </ul>

                                <h3 class="header-terms">Miscellaneous</h3>
                                <p>7.1 To the extent permitted by law, these Terms and Conditions and the provision of Relaxst.com services shall be governed 
                                   by and construed in accordance with appropriate international laws and any dispute arising out of these Terms and Conditions 
                                   and our services will be dealt with accordingly.</p>
                                <p>The original English version of these Terms and Conditions may have been translated into other languages. 
                                   The translated version is a courtesy and office translation only and you cannot derive any rights from the translated version. 
                                   In the event of a dispute about the contents or interpretation of these terms and conditions or inconsistency or discrepancy 
                                   between the English version and any other language version of these terms and conditions, the English language version to 
                                   the extent permitted by law shall apply, prevail and be conclusive. The English version is available on our website 
                                   (by selecting the English language) or shall be sent to you upon your written request.</p>
                                <p>If any provision of these Terms and Conditions is or becomes invalid, unenforceable or non-binding, you shall remain 
                                   bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest 
                                   extent permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or 
                                   non-binding provision, given the contents and purpose of these terms and conditions.</p>
                                <h3 class="header-terms">Entire Agreement</h3>
                                <p>8.1 This Agreement contains the full understanding between the parties and supersedes all prior
                                   representations or agreements, whether oral or written, with respect to such matters.</p>
                                <h3>Company Contact Details</h3>
                                <p>
                                   9.1 Upon arising need, Relaxst.com could be contacted under the following address:
                                    <br> Mediaff Ltd   
                                    <br> Kemp House
                                    <br> 160 City Road
                                    <br> London EC1V 2NX, United Kingdom,
                                    <br> Email: support@relaxst.com
                                </p>
                            </div>
                    </div>
                </div>
            </div>
		</div>
	</section>    
        
{% endblock %}